{% extends 'route/layout.html' %}

{% block title %}Registration{% endblock %}


{% block content %}
    <br>
    <h1 class="text-center">Registration</h1>
    <br>
    <form action="#" method="POST" class="container" style="width: 300px;">
        {% csrf_token %}
        <!-- Username input -->
        <div class="form-floating">
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username"
                   required>
            <label for="username">Username</label>
        </div>
        <br>
        <!-- Email input -->
        <div class="form-floating">
            <input type="text" class="form-control" name="email" id="email" placeholder="Enter email" required>
            <label for="email">Email</label>
        </div>
        <br>
        <!-- Password input -->
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="password"
                   placeholder="Enter password" required>
            <label for="password">Password</label>
        </div>
        <br>
        <!-- Submit button -->
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}