{% extends 'main/layout.html' %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul class="list-group">
                {% if result %}
                    {% for itm in result %}
                        <li class="list-group-item d-flex justify-content-center align-items-center rounded">
                            {"route_type": "{{ itm.route_type }}", "event_admin": "{{ itm.event_admin }}",
                            "start_date": "{{ itm.start_date }}", "price": "{{ itm.price }}",
                            "country": "{{ itm.country }}", "location": "{{ itm.location }}",
                            "departure": "{{ itm.departure }}", "destination": "{{ itm.destination }}",
                            "duration": "{{ itm.duration }}", "route_name": "{{ itm.route_name }}"},
                            "stopping": "{{ stopping }}"
                        </li><br>
                    {% endfor %}
                {% else %}
                    <h3 class="text-center">Event does not exist (temp)</h3>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}