{% extends 'main/layout.html' %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul class="list-group">
                {% if result %}
                    {% for itm in result.result %}
                        <li class="list-group-item d-flex justify-content-between align-items-center rounded">
                            {
                            "event_id": "{{ itm.event_id }}",
                            "route_id": "{{ itm.route_id }}",
                            {#                            "route_type": "{{ itm.route_type }}",#}
                            {"event_admin": "{{ itm.event_admin }}",
                            "start_date": "{{ itm.start_date }}",
                            {#                            "country": "{{ itm.country }}",#}
                            {#                            "location": "{{ itm.location }}",#}
                            {#                            "departure": "{{ itm.departure }}",#}
                            {#                            "destination": "{{ itm.destination }}",#}
                            {#                            "duration": "{{ itm.duration }}",#}
                            {#                            "route_name": "{{ itm.route_name }}",#}
                            {#                            "stopping": "{{ stopping }}",#}
                            {% if itm.event_users_id != '' %}
                                "event_users_id" : "{{ itm.event_users_id }}",
                                {% if itm.pending|length > 0 %}
                                    "pending": {{ itm.pending }},
                                {% endif %}
                                {% if itm.accepted|length > 0 %}
                                    "accepted": {{ itm.accepted }},
                                {% endif %}
                            {% endif %}
                            "price": "{{ itm.price }}"
                            }

                            {# button join to event/joined #}
                            {% if button is False %}
                                <a href="{% url 'route:add_me_to_event' itm.route_id itm.event_id %}"
                                   class="btn btn-sm btn-warning flex-shrink-0 me-2">Join to event</a>
                            {% else %}
                                <a href="#"
                                   class="btn btn-sm btn-outline-warning flex-shrink-0 me-2"
                                   style="pointer-events: none">Joined</a>
                            {% endif %}

                        </li><br>
                    {% endfor %}
                {% else %}
                    <h3 class="text-center">Event does not exist (event_info tmpl)</h3>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}