{% extends 'route/layout.html' %}

{% block title %}Filter routes{% endblock %}

{% block content %}
    <ul>
        {% for itm in result %}
            <li>
                {"route_type": "{{ itm.route_type }}", "country": "{{ itm.country }}","location":
                "{{ itm.location }}", "description": "{{ itm.description }}", "duration": "{{ itm.duration }}",
                "departure", "{{ itm.departure }}", "destination": "{{ itm.destination }}"}
            </li>
        {% endfor %}
    </ul>
{% endblock %}