{% extends 'main/layout.html' %}

{% block title %}Discover{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul class="list-group">
                {% if page_obj %}
                    {% for itm in page_obj %}
                        <div class="card text-center col-md-10 mx-auto">
                            <div class="card-header">
                                {
                                "route_id": "{{ itm.route_id }}",
                                "route_type": "{{ itm.route_type }}",
                                "country": "{{ itm.country }}",
                                "location": "{{ itm.location }}",
                                "departure", "{{ itm.departure }}",
                                "destination": "{{ itm.destination }}",
                                "duration": "{{ itm.duration }}",
                                "avr_rate": "not yet added"
                                }
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{ itm.route_name }}</h3>
                                <p class="card-text">
                                    {{ itm.description }}
                            </div>
                            <div class="card-footer text-muted">
                                <a href="{% url 'route:route_info' itm.route_id %}"
                                   class="btn btn-sm btn-info flex-shrink-0 me-2">Route info</a>
                            </div>
                        </div>
                        <br>
                    {% endfor %}

                {% else %}
                    <h3 class="text-center">Does not exist (filter_route templ)</h3>
                {% endif %}
            </ul>

            {# pagination #}
            {% if page_obj %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination mb-5 justify-content-center">
                        {% if previous_page and previous_page < current_page %}
                            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ previous_page }}">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ previous_page }}">{{ previous_page }}</a></li>
                        {% endif %}

                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">{{ current_page }} <span
                                    class="visually-hidden">(current)</span></a>
                        </li>

                        {% if next_page and current_page < all_pages %}
                            <li class="page-item"><a class="page-link" href="?page={{ next_page }}">{{ next_page }}</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="?page={{ next_page }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ all_pages }}">Last
                                ({{ all_pages }})</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}

        </div>
    </div>
{% endblock %}