{% extends 'main/layout.html' %}

{% block title %}Discover{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul class="list-group">
                {% if result %}
                    {% for itm in result %}
                        <div class="card text-center col-md-10 mx-auto">
                            <div class="card-header">
                                {
                                "route_id": "{{ itm.route_id }}",
                                "route_type": "{{ itm.route_type }}",
                                "country": "{{ itm.country }}",
                                "location": "{{ itm.location }}",
                                "departure", "{{ itm.departure }}",
                                "destination": "{{ itm.destination }}",
                                "duration": "{{ itm.duration }}",
                                "avr_rate": "not yet added"
                                }
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{ itm.route_name }}</h3>
                                <p class="card-text">
                                    {{ itm.description }}
                            </div>
                            <div class="card-footer text-muted">
                                <a href="{% url 'route:route_info' itm.route_id %}"
                                   class="btn btn-sm btn-info flex-shrink-0 me-2">Route info</a>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                {% else %}
                    <h3 class="text-center">Does not exist (filter_route templ)</h3>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}