{% extends 'main/layout.html' %}

{% block title %}Route info{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            {% if result %}
                {% for itm in result %}
                    <div class="text-center col-md-10 mx-auto">
                        <h1 class="mb-4">"{{ itm.route_name }}"</h1>

                        <div class="mb-5 p-2">
                            <a href="{% url 'route:add_event' itm.route_id %}"
                               class="btn btn-sm btn-warning flex-shrink-0 me-2">Add event</a>
                            {# show button if route has event #}
                            {% if event %}
                                <a href="{% url 'route:event' itm.route_id %}"
                                   class="btn btn-sm btn-warning flex-shrink-0 me-2">Events</a>
                            {% endif %}
                            <a href="{% url 'route:add_review' itm.route_id %}"
                               class="btn btn-sm btn-warning flex-shrink-0 me-2">Add review</a>
                            {# show button if route has review #}
                            {% if review %}
                                <a href="{% url 'route:review' itm.route_id %}"
                                   class="btn btn-sm btn-warning flex-shrink-0 me-2">Review</a>
                            {% endif %}
                        </div>

                        <h4>General route info</h4>
                        <div class="mb-5 p-2 border rounded">
                            {
                            "route_id": "{{ itm.route_id }}",
                            "route_type": "{{ itm.route_type }}",
                            "country": "{{ itm.country }}",
                            "location": "{{ itm.location }}",
                            "duration": "{{ itm.duration }}",
                            "stopping": "{{ itm.stopping }}",
                            "departure" : "{{ itm.departure }}",
                            "destination" : "{{ itm.destination }}",
                            "stopping": "{{ stopping }}"
                            }
                        </div>

                        <h4>Route description</h4>
                        <div class="mb-5 p-2 border rounded">
                            {{ itm.description }}
                        </div>

                    </div>
                {% endfor %}

            {% else %}
                <h3 class="text-center">Does not exist (route_info templ)</h3>
            {% endif %}

        </div>
    </div>
{% endblock %}