{% extends 'main/layout.html' %}

{% block title %}Route info{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul class="list-group">
                {% if result %}
                    {% for itm in result %}
                        <li class="list-group-item d-flex justify-content-between align-items-center rounded">
                            {
                            "route_id": "{{ itm.route_id }}",
                            "route_name": "{{ itm.route_name }}",
                            "route_type": "{{ itm.route_type }}",
                            "country": "{{ itm.country }}",
                            "location": "{{ itm.location }}",
                            "description": "{{ itm.description }}",
                            "duration": "{{ itm.duration }}",
                            "stopping": "{{ itm.stopping }}",
                            "departure" : "{{ itm.departure }}",
                            "destination" : "{{ itm.destination }}",
                            "stopping": "{{ stopping }}"
                            }

                            <a href="{% url 'route:add_event' itm.route_id %}"
                               class="btn btn-sm btn-warning flex-shrink-0 me-2">Add event</a>
                            {% if event %}
                                <a href="{% url 'route:event' itm.route_id %}"
                                   class="btn btn-sm btn-warning flex-shrink-0 me-2">Events</a>
                            {% endif %}
                            <a href="{% url 'route:add_review' itm.route_id %}"
                               class="btn btn-sm btn-warning flex-shrink-0 me-2">Add review</a>
                            {% if review %}
                                <a href="{% url 'route:review' itm.route_id %}"
                                   class="btn btn-sm btn-warning flex-shrink-0 me-2">Review</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <h3 class="text-center">Does not exist (route_info templ)</h3>
                {% endif %}
            </ul>
            <br>
        </div>
    </div>
{% endblock %}